<h1>Weather</h1>

<div id="current-time"></div>
<div>
  <div class="row weather-boxes">
    <div class="col-md-1"> </div>
    <div id="morning" class="box col-md-3" onclick="setWeather(this, 'yellow')">Morning</div>
    <div class="col-md-1" > </div>
    <div id = "afternoon" class="box col-md-3" onclick="setWeather(this, 'orange')">Afternoon</div>
    <div class="col-md-1"> </div>
    <div id = "evening" class="box col-md-3" onclick="setWeather(this, 'purple')">Evening</div>
  </div>
  
</div>